header {
    border-bottom: 1px solid #ECECEC;
}

.header-nav__row {
    display: flex;
    align-items: center;
}

.my-logo {
    display: inline-block;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.logo-blue {
    color: #2196F3;
}

.main-nav__list {
    display: flex;
    gap: 50px;
}

.main__title {
    position: relative;
    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-title-color;
    transition: $transition-color;
    &::after{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
    
        height: 4px;
        width: 100%;
        transform: scaleX(0%);
        transform-origin: left;
    
        border-radius: 2px;
        background-color: $primary-color-hover;
        opacity: 0;
        transition: $transition-opacity, $transition-transform;
    }
    &focus, &:hover {
        color: $primary-color-hover;
        &::after {
            opacity: 1;
            transform: scaleX(100%);
        }
    }
}

.main__title.current::after {
    opacity: 1;
    transform: scaleX(100%);
    color: $primary-color-hover;
}

.current {
    color: $primary-color-hover;
}

.contacts-list {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.email {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $transition-color;
    &:focus, &:hover {
        color: $primary-color-hover;
    }
}

.phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $transition-color;
    &:focus, &:hover {
        color: $primary-color-hover;
    }
}

.phone-icon,
.email-icon {
    margin-right: 10px;
    fill: currentColor;
}